<nav class="red">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo center" href="/">
      <i class="fa fa-pencil-square-o hide-on-small-only"></i>
        Storybook
      </a>
      <a href="#" data-activates="mainMenu" class="button-collapse show-on-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>

      <!--RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard"> Welcome {{user.firstName}}</a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
        {{else}}
        <li>
          <a href="/stories">
            <i class="fa fa-book"></i>  Public Stories</a>
        </li>
        {{/if}}
      </ul>
      
      <!--SIDE MENU-->
      <ul class="side-nav" id="mainMenu">
        <!--User view-->
        {{#if user}}
          <li><div class="background center">
          <a href="#"><img width="200" class="responsive-img circle"                       src="{{user.image}}"></a>
      </div>
      </li>
        {{else}}
        <li>
          <div class="background center">
        <img width="200" class="responsive-img" src="http://betheme.muffingroupsc.netdna-cdn.com/be/vegetables/wp-content/uploads/2017/09/home_vegetables_pic1.png">
      </div>
        {{/if}}
        </li>
        <!--End user view-->
        <li>
          {{#if user}} 
          
          {{else}}
          <a href="/auth/google" class="btn red darken-1 waves-effect waves-light">
            <i class="fa fa-google left" aria-hidden="true"></i> Login with Google</a>
          {{/if}}
        </li>
         <li class="blue-hover">
          <a href="/stories" class="waves-effect">
            <i class="fa fa-book"></i> Public Stories</a>
        </li>
        {{#if user}} 
          <li class="divider"></li>
        <li class="blue-hover">
          <a href="/dashboard" class="waves-effect">
            <i class="fa fa-gear"></i> Dashboard</a>
        </li>
        <li class="blue-hover">
          <a href="/stories" class="waves-effect">
            <i class="fa fa-user"></i> Stories</a>
        </li>
        <li class="blue-hover">
          <a href="/auth/logout" class="waves-effect">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
        {{else}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>